.App {
    padding: 100px 0px 650px 100px ;
    display: flex;
    background-color: #1c011b;
}

.body {

    background: rgba(44,31,146,0.59);

}

.todolist {
    background-color: #07435e;
    padding: 20px;
    border-radius: 10%;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: #e14d4d 4px solid;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
    text-decoration: line-through;
}
